<form method="post" action="<%= url %>">
    <div class="field">
        <label class="label">Nome</label>
        <div class="control">
            <input class="input" type="text" name="checklist[name]" placeholder="Lista de Tarefas"
                value="<%= checklist.name %>">
            <% if(checklist.error && checklist.erro.hasOwnProperty("name")) { %>
                <!--Estou verificando se ocorreu algum error e se foi ocasionado devido a propriedade name-->
                <p class="is-danger help">
                    <%= checklist.error.name.message %>
                        <!--Essa mensagem de error é feita pelo próprio mongoose, quando ocorre alguma falha invés dos dados do form irem para o objeto, essa mensagem de error q é encaminhada-->
                </p>
                <% } %>
        </div>
    </div>

    <button type="submit" class="button is-success">Salvar</button>
    <a href="/checklist" class="button">Cancelar</a>
</form>